/target
/out
.nrepl-port
.nrepl-history
.lein-repl-history
/pom.xml
/pom.xml.asc
figwheel_server.log

/example/target
/example/resources/public/js
/example/figwheel_server.log

/resources/public/js/

*~
*#
.#*

