/target
/out
.nrepl-port
.nrepl-history
.lein-repl-history
.lsp
.clj-kondo
.DS_Store
.shadow-cljs
/pom.xml
/pom.xml.asc

/examples/target
/examples/pom.xml
/examples/node_modules
/examples/resources/public/js
/examples/.rebel_readline_history
/examples/.lein-repl-history

/resources/public/js/

*~
*#
.#*

