/target
/out
.nrepl-port
.nrepl-history
.lein-repl-history
/pom.xml
/pom.xml.asc
figwheel_server.log
.calva/
.portal/
.lsp/
.lh/
.cpcache/
.clj-kondo/

/examples/target
/examples/pom.xml
/examples/resources/public/js
/examples/figwheel_server.log
/examples/.rebel_readline_history
/examples/.lein-repl-history

/resources/public/js/

*~
*#
.#*

